<div class='w-full flex justify-around justify-center mt-10'>
  <div class='posts-comments w-4/6 block p-6 rounded-lg shadow-lg'>
    <h5 class='flex justify-center text-xl leading-tight font-medium mb-8 ml-10 mr-10'>{{title}}</h5>
    <p class='text-base mb-10 ml-10 mr-10'>{{content}}</p>
    <p class='flex justify-center text-l leading-tight font-medium mb-8 ml-10 mr-10'>Created by {{user.username}} on {{format_date date_posted}}</p>
  </div>
</div>

{{!-- if logged in have the ability to add comments --}}
{{#if logged_in}}
    <form class='new-comment-form' data-id='{{id}}'>
      <div class='flex justify-center mt-8'>
        <div class='mb-3 xl:w-4/6'>
          <textarea
            class='form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none'
            id='comment-content'
            name='comment-content'
            placeholder='Enter your comment here'
            rows='5'
          ></textarea>
        </div>
      </div>
     <div class='flex justify-center'>
        <button
          type='submit'
          class='inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out'
        >
          Add comment
        </button>
      </div>
    </form>
  </div>
{{/if}}

{{!-- comments belonging to the individual post --}}
{{#if comments.length}}
  <div class="w-full mt-10">
    <h2 id="comments-title" class="flex justify-center">Comments:</h2>
    {{#each comments as |comment|}}
    <div class="w-full flex justify-around justify-center mt-10">
      <div class="posts-comments w-3/6 block p-6 rounded-lg shadow-lg">
        <p class="text-base mb-10 ml-10 mr-10">{{comment.content}}</p>
        <p class="flex justify-center text-l leading-tight font-medium mb-8 ml-10 mr-10">Comment posted by {{comment.user.username}} on {{format_date date_posted}}</p>
      </div>
    </div>
{{/each}} 
  </div>
{{/if}}

<script src='/js/comment.js'></script>